@media (max-width: 576px) {

    article {
        margin-top: -80px;
        height: 75%;
    }

    nav {
        width: auto;
        border-radius: 0;

    }

    .navigation {
        font-size: large;
        width: 100vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .navigation>div {
        border-left: 0 !important;
    }

    .navigation>div:hover {
        border-left: 0 !important;
    }

    .active {
        text-decoration-line: underline !important;
        text-decoration-thickness: 7px !important;
    }

    .welcome_text {
        font-size: 26px;
    }

    .welcome_text_subtitel {
        font-size: 22px;
    }

    .card-body {
        font-size: 16px;
    }

    .card-title {

        font-size: 20px;
        margin: 30px auto 20px auto;
    }

    .question-footer {
        padding-top: 8px;
        font-family: 'RUBIK', sans-serif;
        font-size: 16px;
    }

    section {
        height: 500px;
    border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .navigation-right img {
        right: 40px;
    }

    .navigation-left img {
        left: 15px;
    }

                nav {
                    border-top-right-radius: 0 !important;
                    border-top-left-radius: 0 !important;
                }
}

@media (max-width: 768px) {
    nav {
        width: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    nav>img {
        margin-bottom: 20px;
    }

    section {
        height: 100%;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .navigation>div {
        border-left: 0 !important;
    }

    .navigation>div:hover {
        border-left: 0 !important;
    }

    .active {
        text-decoration-line: underline !important;
        text-decoration-thickness: 7px !important;
    }

    .navigation-right img {
        right: 40px;
    }

    .navigation-left img {
        left: 15px;
    }

    nav {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}