body {
    background-color: var(--bg-color-body);
}

:root {
    /* Background */
    --bg-color-body: rgba(254, 250, 239);
    --bg-color-nav: rgba(39, 53, 92, 1);
    --bg-color-section: rgba(247, 247, 247, 1);
    /* Text */
    --text-color-nav: rgba(174, 186, 210, 1);
    --text-color-nav-hover: rgba(254, 255, 250, 1);
    /* Button */
    --button-color: rgb(253, 81, 15);
    --button-color-hover: rgb(170, 51, 4);
    --navigation-button-color: rgb(215, 220, 242);
    /*Card */
    --card-bg: rgb(255, 255, 255);
    --card-bg-letter: rgb(214, 214, 214);
    --card-bg-right: rgb(183, 247, 153);
    --card-bg-letter-right: rgb(76, 191, 24);
    --card-bg-wrong: rgb(255, 153, 164);
    --card-bg-letter-wrong: rgb(248, 24, 23);
}

.progress {
    border-radius: 0 !important;
}

.progress-bar {
    background-color: var(--bg-color-nav) !important;
}

.my-button {
    background-color: var(--button-color);
    color: white;
    width: 250px;
    font-family: 'RUBIK', sans-serif;
    font-size: 22px;
    font-weight: normal;
    border-radius: 12px;
}

.my-button:hover {
    background-color: var(--button-color-hover);
}

.bg-success-card {
    background-color: var(--card-bg-right);
}

.bg-success-letter {
    color: white;
    background-color: var(--card-bg-letter-right) !important;
}

.bg-wrong-card {
    background-color: var(--card-bg-wrong);
}

.bg-wrong-letter {
    color: white;
    background-color: var(--card-bg-letter-wrong) !important;
}


article {
    width: clamp(280px, 100%, 900px);
    height: 60%;
}

/* Navigation */

nav {
    width: 250px;
    background-color: var(--bg-color-nav);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    font-weight: normal;
    color: var(--text-color-nav);
}

.pointer-none {
    pointer-events: none;
}

.navigation>div {
    border-left: 7px solid var(--bg-color-nav);
}

.navigation>div:hover {
    border-left: 7px solid var(--text-color-nav-hover);
    color: var(--text-color-nav-hover);
}

.active {
    border-left: 7px solid var(--text-color-nav-hover) !important;
    color: var(--text-color-nav-hover);
}

/* Section */

section {
    background-color: var(--bg-color-section);
    background-image: url(../img/brainbgsmall.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome_text {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.welcome_text_subtitel {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 32px;
}

/* Question */

.card-body {
    font-size: 22px;
}

.card-title {
    font-family: 'RUBIK', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 60px auto 30px auto;
}

.card {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
    border: 0 solid var(--card-bg);
    font-family: 'RUBIK', sans-serif;
    font-weight: normal;
    text-align: left;
}

.card-letter {
    padding: 10px 20px;
    background-color: var(--card-bg-letter);
}

.quiz-answer-card:hover {
    cursor: pointer;
}

.question-footer {
    padding-top: 12px;
    font-family: 'RUBIK', sans-serif;
    font-size: 20px;
}

.navigation-footer img {
    background-color: var(--navigation-button-color);
    position: absolute;
    padding: 10px;
    border-radius: 50%;
}

.navigation-footer img:hover {
    opacity: 0.8;
}

.navigation-footer button {
    bottom: -12px;
}

.navigation-footer button:hover {
    opacity: 0.6;
}

.navigation-right img {
    right: 20px;
}

.navigation-left img {
    left: 0;
}

/* Quiz complete */

.finale {
    font-family: 'RUBIK', sans-serif;
    font-size: 24px;
    font-weight: bold;
}